<ion-header *ngIf="navOpacity > 0">
  <ion-navbar [style.opacity]="navOpacity" mode="ios">
    <ion-title mode="ios">快猫租车</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <!--<ion-refresher (ionRefresh)="doRefresh($event)">-->
    <!--<ion-refresher-content></ion-refresher-content>-->
  <!--</ion-refresher>-->

  <ion-slides #mySlider style="width:100%;height:200px" pager tappable (click)="gotoBannerDetail()">
    <ion-slide>
      <img src="./assets/images/banner1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="./assets/images/banner2.jpg">
    </ion-slide>
    <ion-slide>
      <img src="./assets/images/banner3.jpg">
    </ion-slide>
  </ion-slides>

  <div class="content-wrapper">
    <ion-grid>
      <ion-row class="nav-head">
        <ion-col col-6 style="border-right: 1px solid #ccc;padding-top:0;">
          <div class="nav-item" [navPush]="addOrderPage">
            <p>
              <ion-icon class="car" name="car"></ion-icon>
            </p>
            <span>上门送取</span>
          </div>
        </ion-col>
        <ion-col col-6 style="padding-top:0">
          <div class="nav-item" [navPush]="addOrderPage">
            <p>
              <ion-icon class="home" name="home"></ion-icon>
            </p>
            <span>到店取还</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-slides>
        <ion-slide class="nav">
          <ul>
            <li>
              <a>
                <ion-icon name="pricetags" style="color:orange;"></ion-icon>
                <span>超值套餐</span>
              </a>
            </li>
            <li [navPush]="longIeasePage">
              <a>
                <ion-icon name="help-buoy" style="color:#0b8bab;"></ion-icon>
                <span>长租服务</span>
              </a>
            </li>
            <li>
              <a>
                <ion-icon name="search" style="color:#06c1ae"></ion-icon>
                <span>门店查询</span>
              </a>
            </li>
            <li>
              <a>
                <ion-icon name="navigate" style="color:lightblue"></ion-icon>
                <span>导航</span>
              </a>
            </li>
          </ul>
        </ion-slide>
      </ion-slides>
    </ion-grid>
  </div>

  <div class="center">
    <div class="pictitle">
      <!--<span class="picbg"></span>-->
      <span>热点车型</span>
      <a (click)="gotoNewsList()" class="puff_right">更多 ></a>
    </div>

    <div class="interest_list">
      <ul>
        <li *ngFor="let news of newsList" tappable (click)="gotoNewsDetail(news)">
          <a>
            <div class="list_r">
              <p class="news_detail" style="-webkit-box-orient: vertical;padding-top: 5px;"><span style="font-size: 16px;">{{news.title}}</span></p>

              <p style="padding-top: 10px;padding-bottom: 5px;">
                <ion-icon name="md-person" style="font-size: 16px;padding-right: 2px;color: #fabe00;"></ion-icon>
                {{news.publisher}}  <span style="float: right;color: #666;">{{ news.updateTime }}</span>
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
